.bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;

  padding: 1.75rem 8.5rem ; 

}



.glass-nav {
  position: fixed;
    
  left: 50%;
  transform:translateX(-50%);
  z-index: 500;
  padding: 1.25rem 2rem; 
  
  
  
}
